body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}

.first-section{
    display: flex;
    align-items: center;
}

.only-span{
    color: tomato;
}
.exclusive-button{
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
#for-border{
    border-left: 5px solid tomato;
    padding-left: 20px;

}
.set-width{
    width: 50%;
    padding-left: 120px;
}
.set-width img{
    width: 80%;
}
.second-section{
    margin: 80px 120px 80px 120px;
    text-align: center;

}
#mission{
    background-color: thistle;
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left;
}
#mission img{
    width: 52%;
}
#vission{
    background-color: thistle;
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left;
}
#vission img{
    width: 50%;
}
#goal{
    background-color: thistle;
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left; 
}
#goal img{
    width: 50%;
}

.third-section{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px;
   
}
#for-image{
    width: 50%;
}
#for-image img{
    width: 85%;
}
#extra-div{
    width: 80%;
}
#extra-div h2{
    font-size: 40px;
    color: black;
    font-weight: bold;

}
#extra-div p{
    padding-right: 100px;
}


#new-div{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(255, 0, 255, 0.267);
    text-align: center;
    line-height: 20px;
}