body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}

.first-section{
    display: flex;
    align-items: center;
}

.only-span{
    color: tomato;
}
.exclusive-button{
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
#for-border{
    border-left: 5px solid tomato;
    padding-left: 20px;

}
.set-width{
    width: 50%;
    padding-left: 120px;
}
.set-width img{
    width: 80%;
}
.second-section{
    margin: 80px 120px 80px 120px;
    text-align: center;

}
#mission{
    background-color: rgba(200, 191, 216, 0.466);
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left;
}
#mission img{
    width: 52%;
}
#vission{
    background-color: rgba(218, 6, 154, 0.13);
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left;
}
#vission img{
    width: 50%;
}
#goal{
    background-color: rgba(255, 123, 0, 0.199);
    width: 30%;
    padding: 30px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    text-align: left; 
}
#goal img{
    width: 50%;
}

.third-section{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px;
   
}
#for-image{
    width: 50%;
}
#for-image img{
    width: 85%;
}
#extra-div{
    width: 80%;
}
#extra-div h2{
    font-size: 40px;
    color: black;
    font-weight: bold;

}
#extra-div p{
    padding-right: 100px;
}


#new-div{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 20px;
    color: cornsilk;
}

.last-section{
    background-color: rgb(0, 0, 0);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: cornsilk;
   
    
}
#form{
    text-align: center;
}
#form input{
    border: 2px solid cornsilk;
    background-color: black;
    color: cornsilk;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-top: 10px;
    
    width: 30%;
}


.last-section h1{
    text-align: center;
}

.new{
    margin-top: 20px;
   
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    

}


#footer-style{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: cornsilk;
    line-height: 17px;
}
#footer-style p{
    color: rgba(255, 248, 220, 0.63);
}

